#body {
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Cinzel Decorative', cursive;
    color: white;
    font-weight: bolder
}

.myNavbar {
    position: sticky;
    top: 0;
    z-index: 99999
}

img{
    width: 900px;
}

#sir{
    width: 800px;
    align-content: center;
}

#our_sir{
    font-size: 22px;
    text-align: center;
}

#videos{
    
}